.ich{
    padding-left: 125px;
}
.modules{
    margin-left: 30px;
}
.notes{
    margin-left: 100px;
    color: green;
}
h3{
    padding-left: 75px;
}
.red{
    color: red;
}

.green{
    color: green;
}