.ich{
    padding-left: 125px;
}
.modules{
    margin-left: 30px;
}
h3{
    padding-left: 75px;
}
.red{
    color: red;
}

.green {
    color: green;
    padding-left: 60px;
    padding-right: 30px;
}
.notes{
    color: green;
}